---
import BentoGrid from "../components/BentoGrid.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="SmartSpecs" description="Conecé lo ultimo en tecnología en smartphones.">
	<main>
		<BentoGrid />
	</main>
</Layout>
